services:

  backend:
    build: .
    image: keerti144/devops-game:latest
    container_name: slot-machine-app
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017
    networks:
      - app-network

  mongo:
    image: mongo:6
    container_name: slot-machine-db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network: